/* responsive for mobile device */
@media screen and (max-width:576px) {

    /* navbar media rule for mobile */
    .nav-container {
        flex-direction: column;
        width: 100%;
        padding: 10px 0;
    }

    .nav-items ul {
        flex-direction: column;
    }

    .banner-container {
        flex-direction: column-reverse;
    }

    .banner-content {
        margin-top: 40px;
    }

    .banner-img {
        width: 80%;
    }

    .banner-img img {
        width: 100%;
    }

    /* online game media rule for mobile */
    .online-game-container {
        margin-top: 70px;
    }

    .online-game-header,
    .online-funny-video {
        font-size: 20px;
    }

    .online-content {
        font-size: 10px;
    }

    .online-box-container {
        grid-template-columns: 1fr;
    }

    .online-img {
        width: 80%;
        margin: 20px auto 20px;
        text-align: center;
    }

    .online-img img {
        width: 100%;
    }

    /* play games media rule for mobile */
    .play-container {
        flex-direction: column-reverse;
    }

    .play-images {
        width: 65%;
    }

    .play-image1 img {
        width: 100%;
    }

    .play-content {
        text-align: center;
        margin: 0;
        padding: 30px;
    }

    /* games category media rule for mobile */
    .games-category {
        width: 140px;
    }

    .action-button {
        font-size: 10px;
    }

    .action-button img {
        margin-right: 5px;
    }

    /* footer media rule for mobile */
    .footer-container {
        padding: 30px 0 40px;
    }

    .footer-services {
        grid-template-columns: repeat(3, 1fr);
    }

    .footer-item {
        margin-top: 20px;
        padding-left: 20px;
    }

    .footer-btn {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .footer-terms-cookies {
        flex-direction: column;
    }
}




/* responsive for tablet */
@media screen and (min-width:576px) and (max-width:992px) {

    /* navbar media rule for tablet */
    .nav-container {
        flex-direction: column;
    }

    .banner-container {
        flex-direction: column-reverse;
    }

    .banner-content {
        margin-top: 40px;
    }

    .banner-img {
        width: 80%;
    }

    .banner-img img {
        width: 100%;
    }

    /* online game media rule for tablet */
    .online-box-container {
        grid-template-columns: repeat(2, 1fr);
        gap: 0;
    }

    .online-img {
        width: 80%;
        margin: 20px auto 0px;
    }

    .online-game-container {
        margin-top: 70px;
    }

    /* play games media rule for tablet */
    .play-container {
        flex-direction: column-reverse;
    }

    .play-images {
        width: 65%;
    }

    .play-image1 img {
        width: 100%;
    }

    .play-content {
        text-align: center;
        margin: 0;
        padding: 30px;
    }

    /* game category media rule for tablet */
    .action-button {
        font-size: 14px;
    }

    /* footer media rule for tablet */
    .footer-container {
        padding: 30px 0 40px;
    }

    .footer-services {
        grid-template-columns: repeat(3, 1fr);
    }

    .footer-item {
        margin-top: 20px;
        padding-left: 20px;
    }

    .footer-btn {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .footer-terms-cookies {
        flex-direction: column;
    }
}